@import "variables";

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  transition: all 0.2s;
}

body {
  background-color: $backgroundColor1;
  width: 100%;
  min-height: 100%;
  font-family: $fontFamily;

  main {
    background-color: $backgroundColor3;
    width: 90vw;
    max-width: 343px;
    margin: 92px auto;
    padding: 48px 20px 60px 20px;
    border-radius: 20px 20px 95px 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  }

  section#input_section {
    display: flex;
    justify-content: space-around;
    gap: 15px;
    padding-bottom: 35px;
    border-bottom: $backgroundColor2 1px solid;
    position: relative;

    div {
      display: flex;
      flex-direction: column;
      gap: 6px;
      font-weight: bold;

      label {
        font-size: 12px;
        color: $color3;
        letter-spacing: 4px;
        text-transform: uppercase;
      }

      input {
        width: 87px;
        padding: 15px;
        border: $backgroundColor2 1px solid;
        border-radius: 8px;
        font-size: 20px;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
        }

        &:focus,
        &:hover {
          border-color: $color1;
          caret-color: $color1;
        }
      }

      span.error {
        width: 87px;
        height: 40px;

        color: $color2;
        font-size: 13px;
        font-weight: 300;
        font-style: italic;
      }
    }

    button {
      background-color: $color1;
      width: 64px;
      height: 64px;
      border-radius: 50%;
      cursor: pointer;

      position: absolute;
      top: calc(100% - 32px);
      left: calc(50% - 32px);

      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 30px;
      }

      &:hover {
        background-color: black;
      }
    }

    &.error {
      div {
        label {
          color: $color2;
        }

        input {
          border-color: $color2;
        }
      }
    }
  }

  section#output_section {
    margin-top: 52px;

    p {
      font-size: 55px;
      font-weight: bolder;
      font-style: italic;
      margin-bottom: -23px;

      span {
        color: $color1;
      }
    }
  }
}
