@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap");

$backgroundColor1: #f0f0f0;
$backgroundColor2: hsl(0, 0%, 86%);
$backgroundColor3: #ffffff;

$color1: #854cfe;
$color2: #ff5757;
$color3: #7e7e7e;

$fontFamily: "Poppins", Arial, Helvetica, sans-serif;
